<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by jayasimha. It uses to show case the weather data of any place in this world!</p>
        <h2><em>{{ name }}</em></h2>
        <img class="portrait" src="/img/mine.jpg">
        </div>

        {{>footer}}
    </body>
</html>