<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="img/cloud.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h4>{{ error }}</h4>
        </div>
        
        {{>footer}}
    </body>
</html>