<!DOCTYPE html> 
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>Please reach out to <b>{{ name }}</b>, for any help.</p>
        </div>
        
        {{>footer}}
    </body>
</html>